.grid {
    display: grid;
    grid-template-columns: 70px auto 70px;
    grid-gap: 1em;
  }
  
  header, footer {
    grid-column: 1 / 4;
    background: #90A9B7;
  }
  
  html {
    height: 100%;
  }
  
  body {
    margin: 0 auto;
    max-width: 56em;
    padding: 1em 0;
  }
  
  header,
  aside,
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    background: #90A9B7;

  }
  article{
    grid-column: 2 / 4;
   
  }

.btn,.button
{
display:inline-block;
padding:20px 45px;
vertical-align:middle;
text-decoration:none;
color:inherit;
text-align:center;
width: 60px;
cursor:pointer
}
.btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}



menu {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  }

  .card {
    font-family: "PT Serif", serif;
    width: 300px;
    min-width: 300px;
    height: 350px;
    background: #17141d;
    border-radius: 16px;
    padding: 1rem 1.5rem;
    box-shadow: -1rem 0 3rem #000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.2s;
    margin: 30px;
  }
  
.tags{
    display: flex;
    margin: 10px 0;
}
    .tag {
      padding: 5px 10px;
      border: solid 1px grey;
      border-radius: 3px;
      transition: 0.2s;
    }
  
    .tag + .tag {
      margin-left: 10px;
    
  }
  h2,
a,
p,
span {
  color: #fff;
}

a {
  text-decoration: none;
  transition: 0.2s;
  float:left;
}
 

time {
  color: grey;
}


.main-link:hover {
  transform: translateY(-10px);
}
.main-link:hover h2 {
  color: #ff8a00;
}
.main-link:focus-within {
  box-shadow: 0 0 0 0.25rem;
}
.main-link:focus-within a:focus {
  text-decoration: none;
}



.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: rgb(44, 107, 122);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  
    top: -5px;
    left: 105%;
  
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}